.vs/casa_cambio_back/FileContentIndex/9c7361ba-3aec-4495-bc9f-0d42ac92b42f.vsidx
.vs/casa_cambio_back/FileContentIndex/3877a4af-f6d7-4d7e-9e68-042c5a6b1c55.vsidx
.vs/casa_cambio_back/FileContentIndex/44faddd4-a8b1-42bd-bd48-a7c008a8074d.vsidx
.vs/casa_cambio_back/FileContentIndex/4adfd3e3-4204-4e1d-8ee6-997b38da9fa0.vsidx
